.rightNav {
    width: 11rem;

    display: flex;
    flex-direction: column;
    gap: 0.833rem;

    position: sticky;
    top: 1rem;
}

.topBlock,
.bottomBlock {
    background-color: var(--white);
    border-radius: 0.66rem;
}

@media (max-width: 1000px){
    .rightNav {
        width: 100%;
        /*компенсация padding в layout*/
        max-width: calc(100vw - 0.625rem*2); 
        overflow-x: hidden; 

        gap: 0;
    }
}